.container {
  max-width: 960px;
  padding: 0 4%;
  margin: 0 auto;
}


header img {
  width: 120px;
  margin: 20px;
}

header {
  width: 100%;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  justify-items: right;
  font-size: 15px;
}

nav li {
  margin-left: 30px;
}

.main-visual {
  width: 100%;
  height: auto;
}

.main-visual img {
  width: 100%;
  height: auto;
  display: block;
}

.section-title {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin: 40px 0;
}

.section-content{
 display: flex;
 align-content: center;
 justify-content: center;
 gap: 40px;
}

.section-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 5px;
}

.profile-text{
  font-size: 12px;
}

.bicycle-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.bicycle-title {
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  margin: 40px 0;
}

.bicycle-item img {
  width: 100%;
  height: auto;
  max-width: 250px; 
  display: block;
  margin: 0 auto; 
}

.bicycle-subtitle{
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bicycle-text{
  font-size: 15px;
  text-align: center;
}


footer {
  text-align: center;
  margin: 40px 0;
}

@media screen and (max-width: 600px) {

  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .bicycle-list {
    flex-direction: column;
    align-items: center;
  }
}